.body{
	width: 100%
	height: 100%;
}

#Form{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 100%;
}

#Main{
	margin: auto;
	margin-top: 50px;
	width: 250px;
	height: 100%;
	border: 1px solid black;
}

#output{
	resize: none;
	width: 200px;
	height: 200px;
	margin-top: 20px;
	margin-bottom: 20px;

}

#input1{
	margin-top: 20px;
	width: 200px;
}